.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  margin-top: 20px;
  width: max-content;

  * {
    text-align: center;
  }

  button {
    margin-top: 1vh;
    padding: 1vh 2vh;
    border-radius: 1rem;
    position: relative;
    border: none;
    background: linear-gradient(to right, var(--fromColor), var(--toColor));
    background-repeat: repeat-x;
    background-position: 0 0;
    color: #fff;
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
    transition: --fromColor 1s, --toColor 1s;
    &:focus-visible {
      outline: white dashed 1px;
      outline-offset: -2px;
    }
    &:hover {
      --fromColor: var(--flame-orange);
      --toColor: var(--flame-red);
    }
  }
}
